div, section {
  background: #222;
  color: white;
}

img {
  max-width: 100%;
}

.center {
  width: 50%;
}

/* Code Under This Line */

div.foo{
  margin-bottom: 20px;
}

section.center{
  margin-left: auto;
  margin-right: auto;
}
